body{
    background-color: rgb(45, 62, 80);
    color: white;
}

.contact-form {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.contact-form li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.contact-form label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.contact-form input[type=text], 
.contact-form input[type=date],
.contact-form input[type=datetime],
.contact-form input[type=number],
.contact-form input[type=search],
.contact-form input[type=time],
.contact-form input[type=url],
.contact-form input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.contact-form input[type=text]:focus, 
.contact-form input[type=date]:focus,
.contact-form input[type=datetime]:focus,
.contact-form input[type=number]:focus,
.contact-form input[type=search]:focus,
.contact-form input[type=time]:focus,
.contact-form input[type=email]:focus,
.contact-form input[type=tel]:focus,
.contact-form textarea:focus, 
.contact-form select:focus{
    -moz-box-shadow: 0 0 8px rgb(219, 70, 30);
    -webkit-box-shadow: 0 0 8px rgb(219, 70, 30);
    box-shadow: 0 0 8px rgb(219, 70, 30);
    border: 1px solid rgb(219, 70, 30);
    border-radius:5px;
}

.contact-form .field-long{
    width: 97%;
}
.contact-form .field-select{
    width: 100%;
}
.contact-form .field-textarea{
    height: 100px;
}
.contact-form input[type=submit], .contact-form input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.contact-form input[type=submit]:hover, .contact-form input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.contact-form .required{
    color:red;
}

.contact-form .gender-fieldset ul{
    margin: 0;
    padding: 0;
}